@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap');

/* 
*
* General rules
*
*/

body {
  background: linear-gradient(90deg, #0c164d, #190b22);
  color: #fff;
  padding: 0;
}

h1 {
  font-family: Secular One;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.09em;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  font-family: Lora;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.6em;
  text-align: right;
  text-transform: uppercase;
  color: #ffd029;
}
h3 {
  font-family: Secular One;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.09em;
  text-align: left;
  text-transform: uppercase;
}

p,
li {
  font-family: Roboto Condensed;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.9375rem;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* 
*
* General building blocks
*
*/

.wrapper {
  margin: 0 auto;
  padding: 0;
  height: 95lvh;
  width: 90lvw;
}

.wrapper > * {
  grid-row: 1/-1;
}

.page-header {
  margin-top: 5rem;
}

.footer__planet-name {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 1em;
}

/* 
*
* Page with the solar system 
*
*/

.planet-container {
  display: flex;
  gap: clamp(1rem, 5vw, 4rem);
  align-items: center;
  height: 100%;
  transform: translateY(-10rem);
}

.planet {
  width: 10rem;
  aspect-ratio: 1;
  background-color: grey;
  border-radius: 100%;
  cursor: pointer;
  outline: transparent;
  background: hsl(var(--bg-hsl));
  outline-color: hsla(var(--bg-hsl), 0.2);
  box-shadow: inset var(--shadow-x) 0px calc(var(--shadow-x) / -2.22222) 0px rgba(0, 0, 0, 0.5);
}

.planet__rings {
  background: hsla(0, 0%, 100%, 0.4);
  transform: rotate(-20deg) translate(-20%, 800%);
  border-radius: 50%;
  width: 120%;
  height: 5%;
}

/* *ABOUT THE PLANET VARIABLES 
Every planet has a bg-hsl color value. 
The value is used in .planet to set background color. 
And the outline color with alpha. The outline is showed 
on the info page, but its color is set in .planet. 

Every planet/sun has an flex variable between 100 and 1 
that is set by JS based on the planets real size from the API. 

Every planet except the sun has a shadow-x variable. 
It's purpose is to give every planet a nice shadow regardless of 
the planets relative size (it has to work for both Venus and Jupiter)
 and the window size. 
The shadow is calculated from the planets relative 
size (--planet--flex) with a constant (--shadow-offset-ratio).

The shadow spread is calculated in .planet from (--shadow-x)
 */

:root {
  --shadow-offset-ratio: -0.45vw;
}

.planet-0 /* #sun */ {
  --bg-hsl: 47, 100%, 58%;
  flex: var(--planet-flex);

  margin-left: -110vw;
  box-shadow: 0px 0px 250px 0px hsla(47, 100%, 58%, 0.2);
}

.planet-1 /* #mercury */ {
  --bg-hsl: 0, 0%, 53%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-2 /* #venus */ {
  --bg-hsl: 0, 35%, 85%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-3 /* #earth */ {
  --bg-hsl: 209, 63%, 55%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-4 /* #mars */ {
  --bg-hsl: 0, 82%, 65%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-5 /* #jupiter */ {
  --bg-hsl: 22, 68%, 65%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-6 /* #saturn */ {
  --bg-hsl: 40, 43%, 61%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-7 /* #uranus */ {
  --bg-hsl: 223, 59%, 87%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}
.planet-8 /* #neptune */ {
  --bg-hsl: 209, 20%, 57%;
  flex: var(--planet-flex);
  --shadow-x: calc(var(--planet-flex) * var(--shadow-offset-ratio));
}

/* 
*
* Page with the details of one planet/sun
*
*/

/* The stars on the background */
.details__background {
  z-index: -20;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 110lvw;
  height: 110lvh;
  overflow: hidden;

  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, hsla(0, 0%, 100%, 0.149) 1px, transparent 30px),
    radial-gradient(white, hsla(0, 0%, 100%, 0.102) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Planet image in the background */
.details__planet {
  z-index: -10;
  position: absolute;
  left: -80lvh;
  top: 5lvh;
  width: 90lvh;
  margin-left: 0;
  transform: rotate(-45deg);

  outline-width: 5rem;
  outline-style: ridge;
  cursor: default;
  box-shadow: none;
}

/* Details text box */
.details {
  max-width: 40rem;
  margin: 6rem auto 0;
}

.details__close {
  cursor: pointer;
  text-align: right;
  box-shadow: #fff;
  text-shadow: -1px 1px 10px rgba(255, 0, 0, 0.5);
  animation: slide-right 0.5s ease-in-out 300ms both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-36rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

.details__title,
.details__subtitle {
  text-align: left;
}
.details__info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-block: 1px solid hsla(0, 0%, 100%, 0.2);
}

.details__list {
  max-height: max(calc(50rem - 62vw), 20rem);
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
}

.details__value-title {
  margin-bottom: 0.5rem;
}

.details__value {
  margin-top: 0.5rem;
  min-width: 10rem;
}
